<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="form-group">
      <label for=""></label>
      <input [(ngModel)]="inputValue" (ngModelChange)="onSearchInputChange($event)" type="text"
        class="form-control form-control-lg shadow-lg p-3 mb-5 bg-white rounded" placeholder="Search...." autofocus>

    </div>

  </div>
</div>
<div class="row card-group">
  <div class="col-4" style="padding-top: 5px;" *ngFor="let item of searchedResult">
    <div class="card">
      <img *ngIf="item.images[0]" src="http://photos.hotelbeds.com/giata/{{item.images[0]?.path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <a routerLink="/details/{{item.code}}">
          <h5 class="card-title">{{item.name?.content}}</h5>
        </a>
        <p class="card-text">{{item.description?.content.length > 66 
                                ? item.description?.content.slice(0,66) + '...' :
                                item.description?.content }}</p>
        <span>WebSite : <a href="{{item?.web}}"></a> </span>
        <br />
        <span>Address : {{item.address?.content}}</span>
        <br />
        <span>Email : {{item.email}}</span>
        <br />
        <span>Available Rooms : {{item.rooms?.length}}</span>
        <br />
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{item.lastUpdate}}</small>
      </div>
    </div>
  </div>
</div>